.save{
    display: none;
    background: #32AD60;
    color: #ffffff;
    
    &:hover{
      background: darken(#32AD60, 10%);
    }
  }
  
  .edit{
    background: #2199e8;
    color: #ffffff;
    
    &:hover{
      background: darken(#2199e8, 10%);
    }
  }
